https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
pymongo
pyromod
pymongo[srv]
aiohttp==3.9.5
asyncio
tgcrypto==1.2.5
telegraph
gpytranslate
requests
motor
secureme
speedtest-cli==2.1.3
wget
